[user]
	name = Stefan Strigler
	email = stefan@strigler.de
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	subdate = submodule update --recursive --init
[core]
	excludesfile = /home/zeank/.gitignore
[init]
	defaultBranch = main
[push]
        default = upstream
